<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.paddle.lite.demo.ocr">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.baidu.paddle.lite.demo.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:preserveLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.baidu.paddle.lite.demo.activity.login.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.baidu.paddle.lite.demo.activity.main.SettingActivity" />
        <activity android:name="com.baidu.paddle.lite.demo.activity.login.LoginActivity" />
        <activity android:name="com.baidu.paddle.lite.demo.activity.result.ResultActivity" />
        <activity android:name="com.baidu.paddle.lite.demo.activity.camera.CameraActivity" /> <!-- to test MiniActivity, change this to com.baidu.paddle.lite.demo.ocr.demo.MiniActivity -->
        <activity android:name=".demo.MainActivity" />
        <activity
            android:name="com.baidu.paddle.lite.demo.activity.setting.SettingsActivity"
            android:label="Settings" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.baidu.paddle.lite.demo.ocr.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>